.top-container {
  background-color: #E4F9F5;
  padding-top: 50px;
  margin: 0px auto 30px;
}

.middle-container {

}

.bottom-container {
  margin: 40px auto none;
  background-color: #66BFBF;
  height: 100px;
}


.contact-me {
  margin-bottom: 50px;
}
p {
  line-height: 2;
}
h1 {
  font-size: 5.672rem;
  color: #66BFBF;
  margin: 90px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  margin: 40px auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

body {

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.intro {
  width: 30%;
  margin: 40px auto;
}

.top-cloud {
  position: absolute;
  left: 60%;
  top: 5%;
}

.bottom-cloud {
  position: absolute;
}

.profile-pic {
  max-width: 15%;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;

}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding-top: 40px;
}
.skill-row2 {
  width: 50%;
  margin: 40px auto;
  text-align: right;
  line-height: 2;
  padding-left: 20px;
padding-top: 20px;
padding-bottom: 40px;
}
.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}
.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;


}
.btn {
  width: 50%;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
hr {
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 7%;
 margin: auto;
}
.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 20px;
  text-decoration: none;

}
.footer-link:hover {
  color: white;
}
.copyright {
  color: #EAF6F6;
}
